body {
    font-family: Arial, sans-serif;
    background: #f8eaea;
    margin: 0;
    padding: 25px;
}

header {
    background: rgb(252, 252, 252);
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.header h2 {
    margin: 0;
    color: #444;
}
.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}
.header-right nav  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 8px;
    gap: 10px;
}
.header-right nav ul li a {
    text-decoration: none;
    color: #444;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
}
input {
    padding: 8px;
    width: 220px;
    margin-left: auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

button {
    padding: 8px 15px;
    cursor: pointer;
}

.card {
    width: 700px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    gap: 40px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.flag img {
    width: 300px;
    border-radius: 30px;
    justify-content: center;
    box-shadow: 0 4px 15px rgba(2, 2, 2, 0.1);


}

.info p {
    margin: 20px 0;
    color: #444;
    line-height: 1.5;
    border-bottom: 1px solid #eee;

}
@media (max-width: 768px) {
    .card {
        flex-direction: column;
        width: 90%;
        padding: 20px;
    }
    .flag img {
        width: 100%;
        border-radius: 10px;
   }
}
